*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: "Times New Roman", serif;
}

body{
	background:radial-gradient(circle,#fff, #eaeaea);
	min-height: 100vh;
	display:flex;
	flex-direction: column;
}

/* NAVBAR */

.navbar{
	display:flex;
	padding: 18px 40px;
	background: #000;
	align-items: center;
}

.nav-center{
	display:flex;
	gap:50px;
	list-style: none;
	margin: 0 auto;
}

.nav-center a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	position:relative;
}

.nav-center a::after{
	content:"";
	width:0;
	height: 2px;
	background: #fff;
	position: absolute;
	left:0;
	bottom: -4px;
	transition:0.3s;
}

.nav-center a:hover::after{
	width:100%;
}

.kritik-btn{
	background: #fff;
	color:#000;
	padding: 6px 14px;
	border-radius: 20px;
	text-decoration: none;
	font-weight: bold;
}

/* HOME */
.home{
	flex:1;
	display:flex;
	align-items: center;
	justify-content: center;
	gap: 60px;
	padding:80px;
}

.home-image img{
	height:240px;
	width:240px;
	border-radius: 50%;
	box-shadow:0 20px 40px rgba(0,0,0,0.2);
}

.home-button a{
	display:inline-block;
	margin-top: 20px;
	padding: 10px 22px;
	background: #000;
	color: #fff;
	border-radius: 25px;
	text-decoration: none;
	transition:
		transform 0.3s ease,
		box-shadow 0.3s ease;
}

.home-button a:hover{
	transform: translateY(-2px);
	box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

/* FOOTER */
.footer{
	background: #000000;
	color: #fff;
	text-align: center;
	padding: 16px;
	font-size:14px;
}